{%extends 'base.html'%}

{% block content %}

<div class="container">

    <div class="row">
        <img src="{{image.image.url}}" class="img-responsive" alt="">
    </div>

    <div class="row">
        <h1 class="text-center">{{image.name}}</h1>
    </div>

    <div class="row">
        <p>{{image.description}}</p>
    </div>

    <div class="row">
        <p>{{image.category}}</p>
    </div>
    <!-- The text field -->
    <input type="text" value="{{image.image.url}}" id="myInput">

    <!-- The button used to copy the text -->
    <div class="tooltip">
        <button onclick="myFunction()" onmouseout="outFunc()">
            <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
            Copy link
        </button>
    </div>
</div>

{% endblock %}